*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --Red: hsl(0, 100%, 50%);
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--Light-grayish-cyan);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: var(--White);
  padding: 2rem;
}

.box-01 {
  text-transform: capitalize;
}
.bill-title,
.select-tip,
.number-people-box,
.people {
  color: var(--Grayish-cyan);
  position: relative;
}
.bills-box,
.number-people-box {
  min-width: 100%;
  background-color: var(--Very-light-grayish-cyan);
  padding: 0.5rem;
  text-align: end;
  border-radius: 5px;
  color: var(--Very-dark-cyan);
  margin-bottom: 1rem;
  border: none;
}
.hidden,
.hidden-people {
  display: none;
}

.error {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--Red);
}

.bills-box::placeholder,
.number-people-box::placeholder {
  color: var(--Grayish-cyan);
}
.tip-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.tip-container > .btn,
.tip-container > .input {
  border-radius: 5px;
  border: none;
  padding: 0.6rem 0;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
}
.btn:active {
  background-color: var(--Strong-cyan);
}
.input:focus {
  background-color: var(--White);
  color: var(--Dark-grayish-cyan);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.box-02 {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  padding: 1rem;
  border-radius: 10px;
}

.mini-box {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.tip-money {
  font-size: 1.8rem;
  color: var(--Strong-cyan);
}
.perPerson {
  display: block;
  font-size: 12px;
  color: var(--Grayish-cyan);
}
.reset {
  width: 100%;
  background-color: var(--Strong-cyan);
  padding: 10px 0;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}
